<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot Form </title>
<style>
    body {
      background-image: url('bkgrd2.png')
    }
    .img{
        display: block;
        width: auto;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    </style>
</head>
<body>
    <div align="center">
        <h1>Spring Boot Form </h1>
        <button type="button" class="btn btn-light"><a href="/register">Click here to register</a></button>
        
    </div>
    <div>
        <img src="Snapchat.jpg" class="img">
    </div>
</body>
</html>