<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: left;
        }

        input[type=text],
        input[type=password],
        select {
            display: inline-block;
            width: 200px;
        }

        input[type=radio] {
            margin-left: 45px;
        }

        input[type=checkbox] {
            margin-right: 190px;
        }

        button {
            padding: 5px;
            margin: 10px;
        }

        body {
      background-image: url('rsrc.png')
    }
    .control-label {
        background-color: white;
    }
    </style>
</head>

<body>
    <div class="container" align="center">

        <form class="well form-horizontal" id="contact_form" action="#" th:action="@{/register}" method="post"
            th:object="${user}">
            <fieldset>

                <!-- Form Name -->
                <legend>
                    <center>
                        <h2><b>Registration Form</b></h2>
                    </center>
                </legend><br>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Full Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <input name="first_name" placeholder="First Last" th:field="*{name}" class="form-control"
                                type="text">
                        </div>
                    </div>
                </div>




                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Birthday</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <input name="user_name" placeholder="yyyy-mm-dd" th:field="*{birthday}" class="form-control"
                                type="text">
                        </div>
                    </div>
                </div>




                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">E-Mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <input name="email" placeholder="name@example.com" th:field="*{email}" class="form-control"
                                type="text">
                        </div>
                    </div>
                </div>


                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Contact No.</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">

                            <input name="contact_no" placeholder="(___) ___ - ____" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Notes</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">

                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                th:field="*{note}"></textarea>
                        </div>
                    </div>
                </div>
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                        <button type="submit">Register</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    </div><!-- /.container -->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>